<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Webkakao</display-name>
    <servlet>
	  	<servlet-name>ChatSubmitServlet</servlet-name>
	  	<servlet-class>chat.ChatSubmitServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ChatSubmitServlet</servlet-name>
	  	<url-pattern>/chatSubmitServlet</url-pattern>
  	</servlet-mapping>
  
    <servlet>
	  	<servlet-name>ChatListServlet</servlet-name>
	  	<servlet-class>chat.ChatListServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>ChatListServlet</servlet-name>
	  	<url-pattern>/chatListServlet</url-pattern>
  	</servlet-mapping>
  	
  	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>503</error-code>
		<location>/500.jsp</location>
	</error-page>


</web-app>

